@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #400207 ;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #D9A796 ;
    --cor-hover: #7216169f;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header{
    padding: 0;
}

.cabecalho {
    padding-top:  20px;
    margin: 10px;
}

.cabecalho-menu {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.cabecalho-menu-links {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao-conteudo-titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}


.apresentacao-conteudo-texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}


.apresentacao-conteudo-texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: bold;
}

.apresentacao-conteudo-texto-experiencia-estudos{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    margin: 0 15px;
}

.apresentacao-conteudo-texto-experiencia-estudos a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: bold;
}

.apresentacao-conteudo-texto-certificado{
    padding-bottom: 7px;
}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-links-subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao-links-navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}

.apresentacao-links-navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao-imagem {
    width: 42%;
    border-radius: 13px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px) {

    .cabecalho {
        padding: 4%;
    }

    .cabecalho-menu {
        justify-content: center;
      
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }

}